*::-webkit-scrollbar {
  width: 15px;
  background-color: #f1f1f1; }

*::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0); }

*::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 1rem;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px; }

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); }

.CodeMirror *::-webkit-scrollbar,
.dark *::-webkit-scrollbar {
  width: 15px;
  background-color: rgba(0, 0, 0, 0); }

.CodeMirror *::-webkit-scrollbar-corner,
.dark *::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0); }

.CodeMirror *::-webkit-scrollbar-thumb,
.dark *::-webkit-scrollbar-thumb {
  background-color: #505050;
  border-radius: 1rem;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px; }

.CodeMirror *::-webkit-scrollbar-track,
.dark *::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0); }

.CodeMirror .CodeMirror,
.dark .CodeMirror {
  border: 1px solid #6b7280; }

.CodeMirror {
  resize: vertical;
  min-height: 3rem;
  height: auto !important;
  border-radius: 0.25rem; }

#parameters_div, #credits-area, body {
  transition: 0.2s all ease; }

.form-area {
  max-width: 40%; }

.image-area__container {
  display: flex; }

.image-area--zoom {
  z-index: 2;
  position: absolute;
  width: 96%;
  height: 96%;
  top: 1rem;
  left: 1rem; }
  .image-area--zoom .image-area__container {
    height: 100%;
    width: 100%;
    display: flex; }
    .image-area--zoom .image-area__container img {
      object-fit: contain; }
